
    
    <main>
        <div class="register-page row justify-content-center m-0" ng-app="">
            <div class="register-form-wrapper col-12 col-md-6 col-lg-4">
                <h4 style="text-align:center;margin:2rem 0;">Groovy Online Registration</h4>
                <form action="https://grry-v-2-nurhandiyudi.c9users.io/subscribe-now/{{selectpackage}}/location-promo/{{contract}}" method="post">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="coverage" role="tabpanel" aria-labelledby="coverage-tab">
                            <!--Coverage Area-->
                            <div class="row multistep justify-content-center" style="margin-bottom:50px;">
                                <div class="col-xs-4 multistep-step current">
                                    <div class="text-center multistep-stepname">Coverage Area</div>
                                    <div class="progress">
                                        <div class="progress-bar"></div>
                                    </div><a class="multistep-dot"></a></div>
                                <div class="col-xs-4 multistep-step next">
                                    <div class="text-center multistep-stepname">Your Detail</div>
                                    <div class="progress">
                                        <div class="progress-bar"></div>
                                    </div><a class="multistep-dot"></a></div>
                                <div class="col-xs-4 multistep-step next">
                                    <div class="text-center multistep-stepname">Your Order</div>
                                    <div class="progress">
                                        <div class="progress-bar"></div>
                                    </div><a class="multistep-dot"></a></div>
                            </div>
                            <div id="location-residential" class="form-group">
                                <label class="form-control-label" for="Lokasi">Lokasi - <span style="font-weight:300;">Location</span></label>
                                <select onchange="selectLocationResidential()" class="form-control" id="locationselectresidential" name="locationselectresidential">
                                    <option disabled="disabled" selected="selected" value="">Select Residential</option>
                                    <option value="{{location}}">{{location}}</option>
                                </select>
                            </div>
                            <div id="street" class="form-group">
                                <label class="form-control-label" for="Lokasi">Blok/Jalan - <span style="font-weight:300;">Block/Street</span></label>
                                <select onchange="selectstreet()" class="form-control" id="blokstreetSelect" name="blokstreetSelect">
                                    <option disabled="disabled" selected="selected" value="">Select Block/Street</option>
                                </select>
                            </div>
                            <div id="no" class="form-group">
                                <label class="form-control-label" for="Lokasi">No - <span style="font-weight:300;">No</span></label>
                                <select onchange="selectno()" class="form-control" id="noSelect" name="noSelect">
                                    <option disabled="disabled" selected="selected" value="">Select No</option>
                                </select>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="customer-data" role="tabpanel" aria-labelledby="customer-data-tab">
                            <!--Your Detail-->
                            <div class="row multistep justify-content-center" style="margin-bottom:50px;">
                                <div class="col-xs-4 multistep-step complete">
                                    <div class="text-center multistep-stepname">Coverage Area</div>
                                    <div class="progress">
                                        <div class="progress-bar"></div>
                                    </div><a class="multistep-dot"></a></div>
                                <div class="col-xs-4 multistep-step current">
                                    <div class="text-center multistep-stepname">Your Detail</div>
                                    <div class="progress">
                                        <div class="progress-bar"></div>
                                    </div><a class="multistep-dot"></a></div>
                                <div class="col-xs-4 multistep-step next">
                                    <div class="text-center multistep-stepname">Your Order</div>
                                    <div class="progress">
                                        <div class="progress-bar"></div>
                                    </div><a class="multistep-dot"></a></div>
                            </div>
                            <div class="form-group">
                                <label for="fullname">Full Name <span style="color:red;">*</span> :</label>
                                <input class="form-control" id="fullname" type="text" placeholder="eg: John Doe" name="fullname" ng-model="fullname" required/>
                            </div>
                            <div class="form-group">
                                <label for="uploadKTP">National Identity Card (KTP) <span style="color:red;">*</span></label>
                                <input class="form-control-file" type="file" id="uploadKTP" name="uploadKTP" required/>
                                <small class="form-text text-muted">Please upload your ID (KTP/Passport) for a faster registration process.</small>
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone :</label>
                                <input class="form-control" id="phone" type="text" placeholder="eg: 021++++++" name="phone" ng-model="phone" />
                            </div>
                            <div class="form-group">
                                <label for="mobilephone">Mobile Phone <span style="color:red;">*</span> :</label>
                                <input class="form-control" id="mobilephone" type="text" placeholder="eg: 081234++++" name="mobilephone" ng-model="mobilephone" required/>
                            </div>
                            <div class="form-group">
                                <label for="email">Email <span style="color:red;">*</span> :</label>
                                <input class="form-control" id="email" type="email" placeholder="eg: johndoe@mail.com" name="email" ng-model="email" required/>
                                <small class="form-text text-muted" id="emailHelp">Please fill your email address correctly, we will send a confirmation and groovy billing statement to your email address.</small>
                            </div>
                        </div>
                    
                        <div class="tab-pane fade" id="summary" role="tabpanel" aria-labelledby="summary-tab">
                            <!--Your Order-->
                            <div class="row multistep justify-content-center" style="margin-bottom:50px;">
                                <div class="col-xs-4 multistep-step complete">
                                    <div class="text-center multistep-stepname">Coverage Area</div>
                                    <div class="progress">
                                        <div class="progress-bar"></div>
                                    </div><a class="multistep-dot"></a></div>
                                <div class="col-xs-4 multistep-step complete">
                                    <div class="text-center multistep-stepname">Your Detail</div>
                                    <div class="progress">
                                        <div class="progress-bar"></div>
                                    </div><a class="multistep-dot"></a></div>
                                <div class="col-xs-4 multistep-step current">
                                    <div class="text-center multistep-stepname">Your Order</div>
                                    <div class="progress">
                                        <div class="progress-bar"></div>
                                    </div><a class="multistep-dot"></a></div>
                            </div><br/>
                            <table class="broadband-fo-register-summary">
                                <tr>
                                    <td >Full Name</td>
                                    <td style="padding-left:1rem;" ng-bind="fullname"></td>
                                </tr>
                                <tr>
                                    <td >Phone</td>
                                    <td style="padding-left:1rem;" ng-bind="phone"></td>
                                </tr>
                                <tr>
                                    <td >Mobile Phone</td>
                                    <td style="padding-left:1rem;" ng-bind="mobilephone"></td>
                                </tr>
                                <tr>
                                    <td >Email</td>
                                    <td style="padding-left:1rem;" ng-bind="email"></td>
                                </tr>
                                <tr>
                                    <td >Package</td><br />
                                    <td style="text-transform: capitalize;padding-left:1rem;">Level {{selectpackage}} - {{contract}} Month</td><br />
                                    <td style="text-transform: capitalize;padding-left:1rem;">Price  {{price}}</td><br />
                                    <td style="text-transform: capitalize;padding-left:1rem;">Instalation Fee {{instalfee}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br /><br />
                    <div class="nav  justify-content-center" id="myTab" role="tablist" style="margin-bottom:2rem;">
                        <a class="groovy-button-grey" id="coverage-tab" data-toggle="tab" href="#coverage" role="tab" aria-controls="home">Back</a>
                        <span>&nbsp; </span>
                        <a class="groovy-button-grey" id="customer-prev-tab" data-toggle="tab" href="#customer-data" role="tab" aria-controls="customer-data">Back</a>
                        <span>&nbsp;</span>
                        <a class="groovy-button" id="customer-data-tab" data-toggle="tab" href="#customer-data" role="tab" aria-controls="customer-data">Next Step</a>
                        <span>&nbsp; </span>
                        <a class="groovy-button" id="summary-tab" data-toggle="tab" href="#summary" role="tab" aria-controls="summary">Next Step</a>
                        <span>&nbsp;</span>
                        <input class="groovy-button" id="registerBroadbandFo" type="submit" value="Confirm" />
                    </div>
                </form>
            </div>
        </div>
    </main> 
    <script type="text/javascript" src="/js/subscribe-location-promo-pondok-pinang.js"></script>
    